.header-container {

    float: right;
    padding: 10px;
    cursor: pointer;

}

.header a {

    color:  rgba(0,0,0,.87);
    text-decoration: none;
    font: 13px arial,sans-serif;
    padding: 10px;
}

.login {

    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;

}

#logo {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
}


.search {


    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    
    

}

#search-inside {

    width: 500px;
    border-radius: 30px;
    height: 30px;
    background-color: transparent;
    border-color: none;
    border: 1px solid #dfe1e5;

}

.btn{

    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.btns {

    margin: 11px 4px;
    padding: 0px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
    
}

#turkiye {
    position: fixed;
    float: left;
    left: 3;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    

 }

 .footer{

    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(87, 84, 84);
   color: white;
   text-align: center;

}